Repository yahoo/fili, pull requests merged in 2018-08, with the labels that each got.

#757 Adding withDoFork to LookBackQuery
  CHANGELOG.md
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/LookbackQuery.java
Labels: MERGEABLE

#748 Move off BaseCompositePhysicalTable inheritance usage
  CHANGELOG.md
  fili-core/src/main/java/com/yahoo/bard/webservice/data/config/table/DimensionListPartitionTableDefinition.java
  fili-core/src/main/java/com/yahoo/bard/webservice/data/config/table/MetricUnionCompositeTableDefinition.java
  fili-core/src/main/java/com/yahoo/bard/webservice/table/MetricUnionCompositeTable.java
  fili-core/src/main/java/com/yahoo/bard/webservice/table/availability/MetricUnionAvailability.java
  fili-core/src/main/java/com/yahoo/bard/webservice/table/availability/PartitionAvailability.java
  fili-core/src/test/groovy/com/yahoo/bard/webservice/data/config/table/DimensionListPartitionTableDefinitionSpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/table/MetricUnionCompositeTableDefinitionSpec.groovy
Labels: AVAILABILITY, MERGEABLE, TABLES

#763 Migrate translations to fili.io
  translations/zh/built-in-makers-zh.md
  translations/zh/configuring-metrics-zh.md
Labels: MERGEABLE, TRANSLATION

#764 Bumping queryId inside withIntervals method of lookback query
  CHANGELOG.md
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/AbstractDruidAggregationQuery.java
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/AbstractDruidFactQuery.java
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/AbstractDruidQuery.java
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/DruidSearchQuery.java
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/GroupByQuery.java
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/LookbackQuery.java
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/SegmentMetadataQuery.java
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/TimeBoundaryQuery.java
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/TimeSeriesQuery.java
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/query/TopNQuery.java
  fili-core/src/test/groovy/com/yahoo/bard/webservice/druid/model/query/LookbackQuerySpec.groovy
Labels: REVIEWABLE

#688 Enable Druid In-filter in Fili
  CHANGELOG.md
  fili-core/src/main/java/com/yahoo/bard/webservice/application/AbstractBinderFactory.java
  fili-core/src/main/java/com/yahoo/bard/webservice/data/filterbuilders/ConjunctionDruidFilterBuilder.java
  fili-core/src/main/java/com/yahoo/bard/webservice/data/filterbuilders/DruidInFilterBuilder.java
  fili-core/src/main/java/com/yahoo/bard/webservice/data/filterbuilders/DruidOrFilterBuilder.java
  fili-core/src/main/java/com/yahoo/bard/webservice/druid/model/filter/InFilter.java
  fili-core/src/main/java/com/yahoo/bard/webservice/exception/TooManyDruidFiltersException.java
  fili-core/src/test/groovy/com/yahoo/bard/webservice/data/DruidQueryBuilderSpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/data/QueryBuildingTestingResources.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/druid/model/aggregation/FilteredAggregationSpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/druid/model/query/WeightEvaluationQuerySpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/filterbuilders/ConjunctionDruidFilterBuilderSpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/filterbuilders/DruidInFilterBuilderSpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/filterbuilders/DruidOrFilterBuilderSpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/web/apirequest/utils/TestingDataApiRequestImpl.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/web/endpoints/LookupDimensionGroupingFilteringDataServletSpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/web/endpoints/SingleDimensionNoRowsFilterDataServletSpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/web/endpoints/SingleDimensionSimpleFilterDataServletSpec.groovy
  fili-security/src/main/java/com/yahoo/bard/webservice/web/security/ChainingRequestMapper.java
Labels: FILTERS, HTTP FILTERS, REVIEWABLE

#766 Wrapping DruidInFilterBuilder as default filter builder under a feature flag
  CHANGELOG.md
  fili-core/src/main/java/com/yahoo/bard/webservice/application/AbstractBinderFactory.java
  fili-core/src/main/java/com/yahoo/bard/webservice/config/BardFeatureFlag.java
  fili-core/src/main/resources/moduleConfig.properties
  fili-core/src/test/groovy/com/yahoo/bard/webservice/application/AbstractBinderFactorySpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/config/FeatureFlagRegistrySpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/web/endpoints/LookupDimensionGroupingFilteringDataServletSpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/web/endpoints/SingleDimensionNoRowsFilterDataServletSpec.groovy
  fili-core/src/test/groovy/com/yahoo/bard/webservice/web/endpoints/SingleDimensionSimpleFilterDataServletSpec.groovy
  fili-core/src/test/resources/testApplicationConfig.properties
Labels: MERGEABLE
